{% extends 'usuario/user_lista.html' %}
{% load static %}

{% block tabla %}
	{#	Filtros #}
	<form method="get">
		<div class="col">
			<div class="d-flex justify-content-end">
				<div class="row me-auto">
					<div class="col-2">
						<input type="text" name="nombres" class="form-control" placeholder="Nombre" value=
								"{{ request.GET.nombres }}">
					</div>
					<div class="col-2">
						<input type="datetime-local" name="fecha" class="form-control" placeholder="Fecha" value=
								"{{ request.GET.fecha_inicio }}">
					</div>
					<div class="col-3">
						<select name="estado" class="form-control">
							<option selected disabled>Seleccionar Estado</option>
							<option>Vigente</option>
							<option>No vigente</option>
						</select>
					</div>
					<div class="col-2">
						<button type="submit" class="btn btn-primary rounded-pill">Buscar</button>
					</div>
					<div class="col-2">
						<a type="button" href="{% url 'lista_permiso' %}"
						   class="btn btn-secondary rounded-pill">Limpiar</a>
					</div>
				</div>
				<a class="btn btn-warning rounded-pill float-end" href="{{ nuevo }}">Agregar</a>
			</div>
		</div>
	</form>

	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombres</th>
			<th scope="col">Apellidos</th>
			<th scope="col">Cédula - Identificación</th>
			<th scope="col">Nacionalidad</th>
			<th scope="col">Género</th>
			<th scope="col">Cargo</th>
			<th scope="col">Cargo 2</th>
			<th class="text-center" scope="col">Acciones</th>
		</tr>
		</thead>
		<tbody>
		{% for object in personas %}
			<tr>
				<th>{{ forloop.counter }}</th>
				<td>{{ object.nombres }}</td>
				<td>{{ object.apellidos }}</td>
				<td>{{ object.cedula }}</td>
				<td>{{ object.id_pais }}</td>
				<td>{{ object.get_genero_display }}</td>
				<td>{{ object.id_cargo }}</td>
				<td>
					{% if object.id_cargo_2 == none %}
						--
					{% else %}
						{{ object.id_cargo_2 }}
					{% endif %}
				</td>
				<td class="text-center">
					<a class="btn btn-success rounded-pill" href="{% url 'user_modificar_persona' object.id %}">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
						     class="bi bi-pencil-square"
						     viewBox="0 0 16 16">
							<path
									d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
							<path fill-rule="evenodd"
							      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
						</svg>
					</a>
					<a class="btn btn-danger rounded-pill" href="{% url 'user_eliminar_persona' object.id %}">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
						     class="bi bi-trash3-fill"
						     viewBox="0 0 16 16">
							<path
									d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
						</svg>
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>


	<!-- !!!!!!!!!!!!!!!!!!!!!   MODAL   !!!!!!!!!!!!!!!!!!!!!   -->

	{% for object in entidades %}
		<div class="modal fade" id="modal{{ object.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
		     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="fw-bold text-center">DESCRIPCIÓN DE LAS <span
								class="text-warning">ENTIDADES BANCARIAS</span></h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table table-striped">
							<thead>
							<tr>
								<th scope="col">Identificación</th>
								<th scope="col">Endidad Bancaria</th>
								<th scope="col">#_Inscripción</th>
								<th scope="col">Fecha Inscripción</th>
								<th scope="col">Estado</th>
								<th scope="col">Sector</th>
								<th scope="col">Sistema</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th>{{ object.no_identificacin }}</th>
								<td>{{ object.nombre }}</td>
								<td>{{ object.no_inscripcion }}</td>
								<td>{{ object.fecha_inscripcion }}</td>
								<td>{{ object.estado }}</td>
								<td>{{ object.sector }}</td>
								<td>{{ object.sistema }}</td>
							</tr>
							</tbody>
							<thead>
							<tr>
								<th scope="col">Ciudad</th>
								<th scope="col">Ciiu Operacional</th>
								<th scope="col">Capital Suscrito</th>
								<th scope="col">Capital Autorizado</th>
								<th scope="col">Valor Nominal</th>
								<th scope="col">Objeto social</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th>{{ object.id_ciudad }}</th>
								<td>{{ object.ciiu_operacional }}</td>
								<td>$ {{ object.capital_suscrito }}</td>
								<td>$ {{ object.capital_autorizado }}</td>
								<td>$ {{ object.valor_nominal }}</td>
								<td colspan="2">{{ object.objeto_social }}</td>
							</tr>
							</tbody>
						</table>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary rounded-start" data-bs-dismiss="modal">Cerrar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}